#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:#24222b;
}
.modal-content{
  background-color:#382c4b;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #8888;
  border-radius: 10px;
  width: 80%;
}

.close{
  color: #aaaa;
  font-size: 28px;
  float: right;
  font-weight: bold;
}
