@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
  font-family:'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(8, 8, 8, 0.87);
  background-image: url("https://wallpapercave.com/wp/wp8478134.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  margin: 30px;
  font-weight: 800;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 20px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input{
  margin: 10px;
  size: 30px;
  margin-left: 10px;
  border-radius: 5px;
  
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #d9bbbb;
}

th, td {
  border: 1px solid rgb(255, 249, 249);
 
  padding: 8px;
  text-align: left;
}

th {
  background-color: #d9bbbb;
  color: #1a1a1a;
}

button {
  margin-top: 5px;
  background-color: #915dbc; /*#4CAF50*/
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}